<!DOCTYPE html>
<html lang="en">

<head>
  <!-- {% include '../partials/head.html' %} -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>gulp-template</title>
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <div class="wrapper">
    {% include '../partials/title.html' %}
    <div class="body">
      {% include '../partials/left-column.html' %}
      {% include '../partials/middle-column.html' %}
      {% include '../partials/right-column.html' %}
    </div>
  <!-- </div>

  <div class="AveriaSerif">AveriaSerif FERTSRGFGHGQRTYTUUY</div>
  <div class="AveriaSerif-italic">AveriaSerif-italic FERTYTYUGSZAQ</div>
  <div class="Bienetresocial">BieneT Tresocial EWRWERWRW</div>
  <div class="Carolyna">Carolyna FEWRFWERWE</div>
  <div class="Handshoptypography">HandshopSWERDAW TRETRraphy</div>
  <div class="Oldnewspapertypes">Oldnewspapertypes FWERWEFFSDFS/div>
  <div class="UglyQua">UglyQua  FWERTHTYUIYI</div>
  <div class="UglyQua-italic">UglyQua-italic RTYEEGFGD</div> -->

</body>

</html>