<div class="left-column">
    <div class="left-column__title">
        <h1>EDITORIAL NEWS</h1>
    </div>
    <div class="first-articles">
        <div class="first-articles__paragraph">
            <div class="frame-img">
                <img src="images/super-car.png" alt="car" class="super-car">
            </div>
            <div class="first-articles__top-article">
                <span class="first-articles__title">SUPER CAR</span><!-- додати клас  -->
                <p class="articles-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusamus perspiciatis
                    doloremque beatae adipisci a, consequatur modi impedit mollitia! Aperiam molestiae omnis animi
                    et, deleniti eos ea nam beatae fugit, amet porro iusto consequuntur tenetur!
                </p> <!-- додати клас  -->
            </div>
        </div>
        <div>
            <p class="articles-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium ducimus nobis ad doloremque ab
                tempora consequuntur in, deleniti dignissimos ipsum facere quibusdam nihil? Sed laudantium,
                doloremque pariatur quo nobis ad fugit eos est nostrum officia iste modi aspernatur quibusdam, unde
                ea recusandae dicta tenetur rerum omnis quos ducimus! Exercitationem deleniti odit impedit molestias
                facere? Quis vel accusantium exercitationem incidunt tempora suscipit neque optio, ullam minus,
                pariatur dicta! Consequuntur, praesentium temporibus!
            </p>
        </div>
        <div>
            <p class="articles-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, iste minima neque quis quae maxime.
                Tenetur placeat esse nihil, excepturi minus tempore molestiae fugiat nam, sunt ad provident labore
                deleniti ullam cum ducimus? Perspiciatis modi quos repellat velit id quae consectetur distinctio
                officiis corporis dolorem quo magni iure, rem architecto illum deleniti nam, pariatur, dicta
                repellendus itaque assumenda et qui. Debitis ipsa explicabo delectus. Voluptate, hic! Voluptas culpa
                ab dignissimos.
            </p>
        </div>
        <div>
            <p class="articles-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti odio dolores explicabo sapiente.
                Repudiandae ex nesciunt doloribus commodi, nihil fugiat quis sed eligendi labore cupiditate est quae
                voluptates minus, quas maiores inventore iste. Vero voluptatem quia et consequuntur magni officiis
                repellat accusamus adipisci laudantium eligendi obcaecati, soluta cum cupiditate temporibus aperiam
                odit quod. Suscipit architecto maxime odit, autem eos distinctio praesentium illum et atque
                obcaecati eius ullam neque, expedita quam.
            </p>
        </div>
    </div>
    <div class="underline-black-bold"></div>
    <div class="underline-grey-bold"></div>
    <div class="second-articles">
        <div class="second-articles__title">
            <h2>EXTRA! ONLY NEXT WEEK</h2>
        </div>
        <div class="second-articles__subtitle">
            <div class="stars">
                <div class="star"></div>
            </div>
            <span class="subtitle">World Tour Stars Of America</span>
            <div class="stars">
                <div class="star"></div>
            </div>
        </div>
        <div class="second-articles__paragraph">
            <div class="second-articles__paragraph-text">
                <div class="articles-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus magnam maxime adipisci
                    voluptates? Possimus quia molestias mollitia assumenda, ut cumque quas ducimus. Iusto eaque
                    architecto ex accusantium. Culpa sapiente corrupti, delectus debitis, blanditiis earum hic quam
                    eligendi animi voluptatum adipisci odit quas sequi! Quas numquam in alias commodi
                    necessitatibus.
                </div>
                <div class="articles-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel explicabo non accusamus eaque nam,
                    voluptatibus nemo dicta magnam iure. Aperiam quos dignissimos, odit quas.
                </div>
                <div class="articles-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni cupiditate reiciendis inventore
                    perferendis animi, saepe eum velit est accusamus consequuntur exercitationem? Voluptatem,
                    impedit?
                </div>
                <div class="articles-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis inventore
                    deserunt quae! Velit labore, atque exercitationem eligendi, architecto, repellat tempora eius
                    explicabo repellendus voluptate consequatur hic? Dicta aut eaque exercitationem perferendis
                    sequi nobis, inventore quasi magni eveniet? Ad pariatur blanditiis reiciendis natus sint
                    possimus cum, accusantium facere cupiditate obcaecati aliquid!
                </div>
            </div>
            <div class="second-articles__frame-img frame-img">
                <img src="images/camera.png" alt="camera" class="camera">
            </div>
        </div>
        <div class="articles-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt suscipit, ducimus earum nulla at,
            quam veritatis ut sunt possimus fuga reprehenderit? Adipisci asperiores vero assumenda dicta. Nam non,
            similique dolores, pariatur debitis ad minima veritatis ut recusandae aperiam sint dicta laudantium nisi
            magni, ipsam laboriosam neque commodi ea sit aliquid id soluta omnis.
        </div>
    </div>
    <div class="third-articles">
        <div class="third-articles__frame-img frame-img">
            <img src="images/welcome.png" alt="welcome" class="welcome">
        </div>
        <div class="third-articles__container">
            <div class="unerline-black-normal"></div>
            <div class="third-articles__title">HEADLINE</div>
            <div class="unerline-black-normal"></div>
            <div class="articles-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus mollitia fugit at, exercitationem
                placeat voluptatum! Nisi ea possimus fuga consequatur repudiandae, dolores quasi ipsum expedita
                voluptatibus esse molestias eligendi nesciunt alias obcaecati ex consequuntur illo amet velit!
                Adipisci eveniet illo temporibus voluptatem atque beatae reprehenderit quae magnam earum suscipit
                neque perspiciatis eligendi asperiores.
            </div>
        </div>


    </div>
</div>