<div class="middle-column">
    <div class="first-news">
        <div class="first-news__title">
            TOWN HALL MEETING TOMMOROW
        </div>
        <div class="unerline-black-normal"></div>
        <div class="first-news__subtitle">READ ABOUT IT</div>
        <div class="unerline-black-normal"></div>
        <div>
            <p class="articles-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, iure similique nam facilis
                exercitationem quo voluptatum voluptatibus iusto labore id tempora unde recusandae incidunt et
                praesentium pariatur! Fugit facilis vel nisi obcaecati, error nobis, dolores quasi ipsum ab voluptates
                illo reiciendis deleniti quia facere ipsam distinctio exercitationem earum rem possimus.
            </p>
            <p class="articles-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae quaerat non eum quibusdam
                facere enim eligendi animi hic blanditiis.
            </p>
            <p class="articles-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aut, harum ipsa omnis unde placeat
                magni facere maxime quibusdam libero consequatur maiores excepturi quaerat voluptate molestiae facilis
                inventore ex aspernatur!
            </p>
            <p class="articles-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, iure similique nam facilis
                exercitationem quo voluptatum voluptatibus iusto labore id tempora unde recusandae incidunt et
                praesentium pariatur! Fugit facilis vel nisi obcaecati, error nobis, dolores quasi ipsum ab voluptates
                illo reiciendis deleniti quia facere ipsam distinctio exercitationem earum rem possimus.
            </p>
        </div>
    </div>
    <div class="second-news">
        <div class="second-news__img ">
            <img src="images/important.png" alt="important" class="important">
        </div>
        <div>
            <p class="articles-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet commodi suscipit dolor inventore
                laudantium cum, temporibus velit porro fuga error tempora tenetur excepturi. Nesciunt, eos iusto!
                Commodi dolores optio, dolorum laborum asperiores aliquid eos, voluptatum, totam fuga quam sed id.
            </p>
            <p class="articles-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ducimus est inventore itaque, enim id,
                commodi ipsam eum similique harum velit nisi amet iure voluptates recusandae vero molestiae ea
                nihil?Lorem ipsum dolor sit amet!
            </p>
        </div>
    </div>
    <div class="third-news">
        <div class="third-news__phone">PHONE NUMBER</div>
        <div class="third-news__number">+000 111 2223</div>
        <div class="third-news__schedule">24 hours/7 day in week</div>
        <div class="third-news__frame-img frame-img">
            <img src="images/telephone.png" alt="telephone" class="telephone">
        </div>
    </div>
    <div class="second-data-media">
        <div class="underline-black-bold"></div>
        <div class="underline-grey-bold"></div>
        <div class="second-articles__title">
            <h2>OLD PAPER</h2>
        </div>
        <div class="second-articles__subtitle">
            <div class="stars">
                <div class="star"></div>
            </div>
            <span class="subtitle">Retro Style</span>
            <div class="stars">
                <div class="star"></div>
            </div>
        </div>
        <div>
            <p class="articles-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere pariatur dicta consectetur dolor magni
                neque minima sequi nisi, nostrum consequatur placeat iure temporibus repellendus aut, nulla ab!
            </p>
            <p class="articles-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis voluptatem quas iste incidunt impedit
                earum facere repellendus error voluptatibus. Facere voluptas architecto obcaecati, quaerat numquam nulla
                enim ex voluptates cum labore consequatur delectus fugiat? Architecto asperiores aliquid sapiente, fugit
                id nesciunt, repellendus eaque?
            </p>
            <p class="articles-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolore doloribus quis reiciendis
                excepturi itaque, consectetur doloremque omnis veniam voluptatem distinctio error, recusandae nobis.
            </p>
            <p class="articles-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid perspiciatis suscipit deleniti quod ab
                atque iusto, ipsam nobis ex molestias laborum nam eligendi consequuntur temporibus amet ullam.
            </p>
            <p class="articles-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quibusdam minima
                aliquam obcaecati laudantium rem, dolorum voluptates culpa, facilis ipsum adipisci nisi sint
                necessitatibus dolore porro inventore. Sequi nihil officiis provident perferendis a rerum amet at
                aperiam quibusdam impedit! Eaque, cum!.</p>
        </div>
    </div>
    <div class="third-articles-media">
        <div class="third-articles__frame-img frame-img">
            <img src="images/welcome.png" alt="welcome" class="welcome">
        </div>
        <div class="third-articles__container">
            <div class="unerline-black-normal"></div>
            <div class="third-articles__title">HEADLINE</div>
            <div class="unerline-black-normal"></div>
            <div class="articles-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus mollitia fugit at, exercitationem
                placeat voluptatum! Nisi ea possimus fuga consequatur repudiandae, dolores quasi ipsum expedita
                voluptatibus esse molestias eligendi nesciunt alias obcaecati ex consequuntur illo amet velit!
                Adipisci eveniet illo temporibus voluptatem atque beatae reprehenderit quae magnam earum.
            </div>
        </div>


    </div>
</div>