
// @font-face {
//     font-family: 'Averiaserif';
//     src: url('../fonts/averiaserif-bold.ttf');
//     font-style: bold;
//     font-weight: 700;
// }




@mixin font-style($font-family, $font-style, $font-weight, $file-name, $font-path) {
  $path: "#{$font-path}/#{$file-name}";
  
  @font-face {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    src: url("#{$path}.ttf") format("truetype");
  }
}
$fontPathAve: "./fonts/Averiaserif";
@include font-style("Averiaserif", normal, 700, "averiaserif-bold", $fontPathAve);
@include font-style("Averiaserif", italic, 700, "averiaserif-bolditalic", $fontPathAve);
@include font-style("Averiaserif", italic, 400, "averiaserif-italic", $fontPathAve);
@include font-style("Averiaserif", normal, 300, "averiaserif-light", $fontPathAve);
@include font-style("Averiaserif", italic, 300, "averiaserif-lightitalic", $fontPathAve);
@include font-style("Averiaserif", normal, 400, "averiaserif-regular", $fontPathAve);

$fontPathAve: "./fonts/Bienetresocial";
@include font-style("Bienetresocial", normal, 700, "bienetresocial bold", $fontPathAve);
@include font-style("Bienetresocial", normal, 400, "bienetresocial", $fontPathAve);

$fontPathAve: "./fonts/Carolyna";
@include font-style("Carolyna", normal, 400, "carolyna - words", $fontPathAve);

$fontPathAve: "./fonts/Courant";
@include font-style("Courant", normal, 400, "dk courant", $fontPathAve);

$fontPathAve: "./fonts/Handshoptypography";
@include font-style("Handshoptypography", normal, 400, "fontscafe_handshoptypography-c30_demo", $fontPathAve);

$fontPathAve: "./fonts/Oldnewspapertypes";
@include font-style("Oldnewspapertypes", normal, 400, "oldnewspapertypes", $fontPathAve);

$fontPathAve: "./fonts/UglyQua";
@include font-style("UglyQua", italic, 400, "UglyQua-Italic", $fontPathAve);
@include font-style("UglyQua", normal, 400, "UglyQua", $fontPathAve);
