.first-news {
    &__title {
        font-size: 30px;
        text-align: center;
        margin: 0 0 15px;
        font-family: "Averiaserif";
        font-weight: 700;
    }

    &__subtitle {
        font-size: 25px;
        text-align: center;
        font-family: "Averiaserif";
        font-weight: 300;
        padding: 3px 0;
    }
}

.second-news {
    @media (max-width:768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        margin: 0 0 20px;
    }
}

.important {
    width: 100%;

    @media (max-width:768px) {
        width: auto;
    }
}

.third-news {
    @media (max-width:900px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__phone {
        font-size: 31px;
        text-align: center;
        font-family: 'Oldnewspapertypes';
        font-weight: 900;

        @media (max-width:1024px) {
            font-size: 21px;
        }
    }

    &__number {
        font-size: 35px;
        text-align: center;
        font-family: 'Averiaserif';

        @media (max-width:1024px) {
            font-size: 25px;
        }
    }

    &__schedule {
        text-align: center;
        font-family: 'Averiaserif';
    }

    &__frame-img {
        margin: 20px 0 0 0;
    }
}

.telephone {
    width: 100%;

    @media (max-width:900px) {
        width: auto;
    }
}

.second-data-media {
    display: none;

    @media (max-width:900px) {
        display: block;
    }
}

.third-articles-media {
    display: none;

    @media (max-width:900px) {
        display: block;
    }

    @media (max-width:768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}