html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

//=====================================================================//

// body {
//     background-image: url(../images/papper.jpg);
// }


.wrapper {
    max-width: 1360px;
    width: 100%;
    // height: 100vh;
    background-image: url(../images/paper-051.jpg);
    padding: 75px;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;

    &__main-title {
        font-size: 50px;
    }

    &__sidebars {
        font-size: 10px;
        max-width: 60px;
        text-align: center;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
        height: 1px;
        background-color: #000;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        height: 1px;
        background-color: #000;
    }

}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
        height: 1px;
        background-color: #000;
    }
}

.body {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 40px;
}

.left-column {
    &__title {
        font-size: 40px;
        text-align: center;
    }
}

.first-articles {
    &__paragraph {
        display: flex;
        margin: 15px 0;
    }

    &__top-article {
        flex-shrink: 2;
        margin-left: 15px;
    }

    &__title {
        font-size: 20px;
        text-align: justify;
        width: 100%;
    }
}

.articles-text {
    margin-bottom: 15px;
    text-align: justify;
}

.frame-img {
    border: 3px solid #000;
    position: relative;
    padding: 3px;
    display: flex;
    align-items: center;
}

.frame-img:before {
    position: absolute;
    display: block;
    content: '';
    border: 1px solid black;
    height: 96%;
    width: 98%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.underline-black-bold {
    margin: 25px 0 0 0;
    position: relative;
    padding: 3px;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        height: 3px;
        background-color: #000;
    }
}

.underline-grey-bold {
    margin: 0 0 25px 0;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        height: 3px;
        background-color: grey;
    }
}

.second-articles {
    &__title {
        font-size: 30px;
        text-align: center;
        margin: 0 0 5px 0;
    }

    &__subtitle {
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        margin: 0 0 25px;
    }

    &__paragraph {
        display: flex;
    }

    &__frame-img {
        flex-shrink: 0;
        margin: 0 0 0 20px;
    }

    &__frame-img:before {
        position: absolute;
        display: block;
        content: '';
        border: 1px solid black;
        height: 98%;
        width: 97%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

.stars {
    text-align: center;
}

.star {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, rgba(197, 196, 196, 1) 0%, rgba(180, 179, 178, 1) 100%);
    position: relative;
}

.star:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    background: linear-gradient(180deg, #000000 0, #000000);
    z-index: 1;
}

.star,
.star:before {
    -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
    clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
}

.third-articles {
    display: flex;

    &__frame-img {
        flex-shrink: 0;
        margin: 0 20px 0 0;
    }

    &__title {
        font-size: 25px;
        text-align: center;
    }

}

.unerline-black-normal {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
        height: 1px;
        background-color: #000;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
        height: 1px;
        background-color: #000;
    }
}

.first-news {
    &__title {
        font-size: 30px;
        text-align: center;
        margin: 0 0 15px;
    }
}

.second-news {
    &__img {
        margin: 0 0 20px;
    }
}

.important {
    width: 100%;
}

.third-news {
    &__phone {
        font-size: 35px;
    }

    &__number {
        font-size: 40px;
        text-align: center;
    }

    &__schedule {
        text-align: center;
    }

    &__frame-img {
        margin: 20px 0 0 0;
    }
}

.telephone {
    width: 100%;
}

.first-data {
    &__title {
        font-size: 40px;
        text-align: center;
    }
}